/********************
ヘッダー
********************/
.header__bar {
  font-family: 'Yuji Boku', serif;
  background-color: black;
  color: bisque;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px ;
}

.header__bar a {
  color: bisque;
  text-decoration: none;
}

.post {
  padding: 10px;
  border: 1px solid bisque;
  border-radius: 5px;
}